<div class="wrap">
  <p id="elem1" class="text" [ngClass]="{ bold: selectedId === 'elem1' }" (click)="onElemClick('elem1')">
    Проверка состава заказа
  </p>
  <p class="line"></p>
  <p id="elem2" class="text" [ngClass]="{ bold: selectedId === 'elem2' }" (click)="onElemClick('elem2')">О покупателе</p>
  <p class="line"></p>
  <p id="elem3" class="text" [ngClass]="{ bold: selectedId === 'elem3' }" (click)="onElemClick('elem3')">Доставка</p>
  <p class="line"></p>
  <p id="elem4" class="text" [ngClass]="{ bold: selectedId === 'elem4' }" (click)="onElemClick('elem4')">
    Выбор способа оплаты
  </p>
</div>
