<div class="close-btn-wrapper">
  <button (click)="onClose()" class="close-btn">
    <img src="../assets/close.svg" alt="close" class="btn-close" />
  </button>
</div>
<div class="stepper">
  <p class="title">Оформление заказа:</p>
  <!-- <app-stepper
    [curId]="selectedId"
    (selectedElemId)="selectedElemId($event)"
  ></app-stepper> -->
</div>
<div class="content-wrap">
  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Проверка состава заказа">
      <perfect-scrollbar>
        <div class="tab-content">
          <div class="order">
            <div class="image">
              <img src="../assets/lamb.jpg" alt="order" class="order-item" />
            </div>
            <div class="details">
              <p class="order-title">Настольная лампа INhome 4690612012902</p>
              <div class="flex padding-top">
                <div class="flex order-input">
                  <div class="arr arr-left" (click)="onLess()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                  <input
                    type="number"
                    id="numb"
                    [value]="inputVal"
                    step="1"
                  /><br />
                  <div class="arr arr-right" (click)="onMore()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                </div>
                <p class="amount">на сумму</p>
                <p class="price">2 000 руб</p>
              </div>
              <p class="more-order">Посмотреть сопутствующие товары</p>
              <p class="remove">Удалить</p>
            </div>
          </div>
          <div class="order">
            <div class="image">
              <img src="../assets/lamb.jpg" alt="order" class="order-item" />
            </div>
            <div class="details">
              <p class="order-title">Настольная лампа INhome 4690612012902</p>
              <div class="flex padding-top">
                <div class="flex order-input">
                  <div class="arr arr-left" (click)="onLess()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                  <input
                    type="number"
                    id="numb"
                    [value]="inputVal"
                    step="1"
                  /><br />
                  <div class="arr arr-right" (click)="onMore()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                </div>
                <p class="amount">на сумму</p>
                <p class="price">2 000 руб</p>
              </div>
              <p class="more-order">Посмотреть сопутствующие товары</p>
              <p class="remove">Удалить</p>
            </div>
          </div>
          <div class="order">
            <div class="image">
              <img src="../assets/lamb.jpg" alt="order" class="order-item" />
            </div>
            <div class="details">
              <p class="order-title">Настольная лампа INhome 4690612012902</p>
              <div class="flex padding-top">
                <div class="flex order-input">
                  <div class="arr arr-left" (click)="onLess()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                  <input
                    type="number"
                    id="numb"
                    [value]="inputVal"
                    step="1"
                  /><br />
                  <div class="arr arr-right" (click)="onMore()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                </div>
                <p class="amount">на сумму</p>
                <p class="price">2 000 руб</p>
              </div>
              <p class="more-order">Посмотреть сопутствующие товары</p>
              <p class="remove">Удалить</p>
            </div>
          </div>
          <div class="order">
            <div class="image">
              <img src="../assets/lamb.jpg" alt="order" class="order-item" />
            </div>
            <div class="details">
              <p class="order-title">Настольная лампа INhome 4690612012902</p>
              <div class="flex padding-top">
                <div class="flex order-input">
                  <div class="arr arr-left" (click)="onLess()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                  <input
                    type="number"
                    id="numb"
                    [value]="inputVal"
                    step="1"
                  /><br />
                  <div class="arr arr-right" (click)="onMore()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                </div>
                <p class="amount">на сумму</p>
                <p class="price">2 000 руб</p>
              </div>
              <p class="more-order">Посмотреть сопутствующие товары</p>
              <p class="remove">Удалить</p>
            </div>
          </div>
          <div class="order">
            <div class="image">
              <img src="../assets/lamb.jpg" alt="order" class="order-item" />
            </div>
            <div class="details">
              <p class="order-title">Настольная лампа INhome 4690612012902</p>
              <div class="flex padding-top">
                <div class="flex order-input">
                  <div class="arr arr-left" (click)="onLess()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                  <input
                    type="number"
                    id="numb"
                    [value]="inputVal"
                    step="1"
                  /><br />
                  <div class="arr arr-right" (click)="onMore()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                </div>
                <p class="amount">на сумму</p>
                <p class="price">2 000 руб</p>
              </div>
              <p class="more-order">Посмотреть сопутствующие товары</p>
              <p class="remove">Удалить</p>
            </div>
          </div>

          <div class="flex flex-start m-b p-t">
            <p class="sum">Общая стоимость:</p>
            <p class="sum-numb">10 000 руб</p>
          </div>
        </div>
      </perfect-scrollbar>
    </mat-tab>
    <mat-tab label="О покупателе">
      <perfect-scrollbar>
        <div class="tab-content customer-wrap">
          <div class="flex flex-center">
            <mat-form-field appearance="standard">
              <mat-label>Имя:</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div class="flex flex-center">
            <mat-form-field appearance="standard">
              <mat-label>Фамилия:</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div class="flex flex-center">
            <mat-form-field appearance="standard">
              <mat-label>Электронная почта:</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div class="flex flex-center">
            <mat-form-field appearance="standard">
              <mat-label>Контактный телефон:</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <p class="call">Заказать обратный звонок</p>
        </div>
      </perfect-scrollbar>
    </mat-tab>
    <mat-tab label="Доставка">
      <perfect-scrollbar>
        <div class="tab-content customer-wrap">
          <div class="flex flex-center">
            <mat-form-field appearance="standard">
              <mat-label>Город/ населенный пункт:</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div class="flex flex-center">
            <mat-form-field appearance="standard">
              <mat-label>Улица:</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div class="flex flex-center">
            <mat-form-field appearance="standard">
              <mat-label>Дом, корпус, строение:</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div class="flex flex-center">
            <mat-form-field appearance="standard">
              <mat-label>Контактный телефон:</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div class="flex flex-center">
            <mat-form-field appearance="standard">
              <mat-label>Предпочтительное время доставки:</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <p class="call">
            Бонусная программа по доставке с учетом сделанных ранее покупок:
          </p>

          <p>
            Здесь можно придумать какой-нибудь красивый интерактивный блок,
            привлекающий внимание потенциального клиента
          </p>
        </div>
      </perfect-scrollbar>
    </mat-tab>
    <mat-tab label="Выбор способа оплаты">
      <perfect-scrollbar>
        <div class="tab-content customer-wrap flex-center">
          <p class="radio-title">
            Выберите предпочтительный способ оплаты:
          </p>
          <mat-radio-group class="example-radio-group">
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let item of vars"
              [value]="item"
            >
              {{ item }}
            </mat-radio-button>
          </mat-radio-group>
          <p class="radio-title">
            Бонусная программа
          </p>

          <p>
            Здесь тоже круто придумать какой-то интерактив
          </p>
        </div>
      </perfect-scrollbar>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="get-btn-wrap">
  <button class="get-btn" (click)="onGetBtn()">ЗАКАЗАТЬ</button>
</div>
