.close-btn-wrapper {
  position: relative;
  height: 32px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

button:focus {
  outline: none;
}

.btn-close {
  width: 30px;
  height: 30px;
}

.stepper {
  height: 50px;
  margin-top: -30px;
}

.content-wrap {
  height: calc(100% - 102px);
  /* overflow-y: scroll; */
}

.title {
  margin: 0;
  color: #455a64;
  font-size: 26px;
  text-align: center;
}

.text {
  padding: 10px;
  color: #455a64;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.get-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.get-btn {
  background-color: #4682b4;
  color: white;
  width: 300px;
  height: 50px;
  border: 1px solid #4682b4;
  border-radius: 5px;
  font-size: 22px;
}

:host ::ng-deep .content-wrap .mat-tab-group {
  height: calc(100% - 10px);
}

.order {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  width: calc(100% - 20px);
  height: 200px;
  border-bottom: 2px solid #4682b4;
}

.order-item {
  width: 200px;
  height: 200px;
}

.order-title {
  font-size: 18px;
  font-weight: bold;
  color: #4682b4;
}

.image {
  width: 200px;
}

.details {
  position: relative;
  width: calc(100% - 220px);
}

.remove {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  color: red;
  cursor: pointer;
}

.more-order {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  color: #4682b4;
  cursor: pointer;
}

.flex {
  display: flex;
}

.order-input {
  margin-right: 80px;
  padding-left: 20px;
  position: relative;
}

.arr {
  cursor: pointer;
}

.arr-right {
  position: absolute;
  top: 5px;
  right: -21px;
}

.arr-left {
  position: absolute;
  top: 5px;
  left: 0;
}

.arr img {
  width: 15px;
  height: 15px;
}

.arr-right img {
  transform: rotate(180deg);
}

input {
  height: 20px;
  width: 100px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.padding-top {
  padding-top: 30px;
}

.amount {
  margin: 0 80px 0 0;

  padding-top: 2px;
  font-weight: bold;
  color: #455a64;
}

.price {
  margin: 0;
  padding-top: 2px;
  font-weight: bold;
  color: #4682b4;
}

.flex-end {
  justify-content: flex-start;
}

.sum {
  padding-left: 350px;
  margin-right: 78px;
  font-weight: bold;
  color: #455a64;
}

.sum-numb {
  font-weight: bold;
  color: #4682b4;
}

.p-t {
  padding-top: 20px;
}

.m-b {
  margin-bottom: 20px;
}

.customer-wrap {
  padding: 20px 20px 0 20px;
}

:host ::ng-deep .customer-wrap .mat-form-field {
  width: 500px;
}

.flex-center {
  justify-content: center;
}

.call {
  text-align: center;
  font-weight: bold;
  color: #4682b4;
  cursor: pointer;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.radio-title {
  font-weight: bold;
  color: #4682b4;
}

:host
  ::deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  background-color: #4682b4;
}
